fastapi

uvicorn[standard]

sqlalchemy

psycopg2-binary

python-dotenv

python-jose[cryptography]

passlib[bcrypt]

python-multipart

alembic

pydantic

pydantic-settings

email-validator
alembic
python-jose[cryptography]