@import "./variables.css";

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
    135deg,
    var(--color-blue),
    var(--color-green),
    var(--color-pink),
    var(--color-yellow)
  );

  background-size: 400% 400%;
  animation: gradientShift 18s ease infinite;

  color: var(--text-primary);

  min-height: 100vh;

  overflow-x: hidden;
}

.dark {
  --text-primary: #ffffff;
  --text-secondary: #d1d5db;

  --border-color: rgba(255,255,255,.1);

  background: linear-gradient(
      135deg,
      #111827,
      #1f2937,
      #374151
  );
}